# Ignore all dotfiles by default
.*

# Ignore (commonly) produced files (Sorted alphabetically)
*.a
*.d
*.dll
*.exe
*.gz
*.hex
*.lock
*.o
*.out
*.patch
*.so
*.tar
*.xz
*.zip
/mcxedit
/mcxedit.exe
/mcxedit.static
/src/mcxedit/mcxedit
/src/mcxedit/mcxedit.exe
/src/mcxedit/mcxedit.static

# Ignore temporary files
*.tmp
*~

# Clang's compilation flags
compile_commands.events.json
compile_commands.json
compile_flags.txt

# Unignore files we want to keep
!.clang-format
!.editorconfig
!.gitignore
!.gitmodules
!.mailmap
!/.github/
