# Ignore all dotfiles by default
.*


# Ignore commonly produced files (Sorted alphabetically)
*.a
*.d
*.exe
*.gz
*.hex
*.lock
*.o
*.out
*.so
*.tar
*.xz
*.zip
/mcxedit
/mcxedit.exe

# Ignore temporary files
*.tmp
*~

compile_commands.events.json
compile_commands.json

# Unignore files we want to keep
!.clang-format
!.editorconfig
!.gitignore
!.gitmodules
!.mailmap
!/.github/
